@import url('https://fonts.googleapis.com/css?family=Cookie|Spartan&display=swap');
#fundo{
    background-color: #F0BC5E;
    height: 655px;
    width: 1368px;
    margin-top: -10px;
    margin-left: -10px;
}
.pag{
    position: absolute;
    height: 400px;
    width: 400px;
    margin-left: 450px;
    margin-top: -500px;
    background-color: #A65D03;
}
.input{
    height: 40px;
    width: 300px;
    background-color: white;
    border: none;
    margin-left: 50px;
    font-size: 13px;
}
#nome{
    margin-top: 70px;
    margin-bottom: 15px;
}
#email{
    margin-bottom: 15px;
}
#senha{
    margin-bottom: 15px;
}
#conSenha{
    margin-bottom: 15px;
}
button{
    height: 40px;
    width: 300px;
    padding-left: 2px;
    padding-right: 2px;
    margin-left: 50px;
    margin-bottom: 10px;
    font-size: 12px;
}
button:hover{
    cursor: pointer;
    background: white;
    border: none;
}
h1{
    position: absolute;
    margin-left: 45px; 
    margin-top: 30px;
    margin-bottom: 100px;
    font-family: 'Cookie-Regular';
    font-size: 45px;
    color: white;
}
button, .input{
    font-family: 'Spartan-Regular';
}
p{
    margin-left: 90px;
    color: white;
}
#login{
    position: absolute;
    margin-left: 260px;
    margin-top: -40px;
    color: white;
}
p, #login{
    font-family: 'Spartan-Regular';
    font-size: 10px;
}
#logo{
    height: 100px;
    width: 100px;
    border-radius: 60px;
    background-color: #A65D03;
    margin-left: 595px;
    margin-top: -550px;
}
img{
    position: absolute;
    margin-left: 25px;
    margin-top: 25px;
    height: 50px;
    width: 50px;
}
