@font-face {
    src: url(Cookie-Regular.ttf);
    font-family: 'Cookie-Regular';    
    font-weight: normal;
}
@font-face {
    src: url(Spartan-Regular.ttf);
    font-family: 'Spartan-Regular';    
    font-weight: normal;
}
.nav{
    padding-top: -20px;
    padding-bottom: 20px;
    background-color: #A65D03;
}
#navbarDropdown{
    margin-top: 8px;
}
#nome{
    font-family: 'Cookie-Regular';
    position: absolute;
    margin-left: 82px;
    margin-top: 1px;
    color: white;
    font-size: 40px;
}
#logo{
    width: 50px;
    height: 50px;
    position: absolute;
    margin-left: 100px;
    margin-top: 5px;
}
#form1{
    margin-top: 12px;
    margin-left: 20px;
    box-shadow: 0 0 0 0;
    border: 0 none;
    outline: 0;
}
#btn, #button{
    margin-top: 12px;
    color: white;
    border-color: white;
}
#btn, #button:hover{
    background-color: #A65D03;
    color: #F0BC5E;
    border-color: #F0BC5E;
}
#form1, #senha, #email:focus, select:focus{
    box-shadow: 0 0 0 0;
    border: 0 none;
    outline: 0;
}
#btn:focus,select:focus {
    box-shadow: 0 0 0 0;
    outline: 0;
}
#acessorio{
    margin-left: 400px;
    margin-top: 8px;
}
.nav-link{
    color: white;
}
.nav-link:hover{
    color: white;
    
}
.item{
    margin-top: 8px;
}
.pag{
    position: absolute;
    height: 320px;
    width: 400px;
    margin-left: 480px;
    margin-top: 150px;
    background-color: #A65D03;
    border-radius: 5px;
}
#senha, #email{
    height: 40px;
    width: 300px;
    background-color: white;
    border-radius: 4px;
    border: none;
    margin-left: 50px;
    font-size: 15px;
}
#email{
    margin-top: -20px;
    margin-bottom: 15px;
}
#senha{
    margin-bottom: 15px;
}
#button{
    height: 40px;
    width: 300px;
    padding-left: 1px;
    padding-right: 1px;
    margin-left: 50px;
    margin-bottom: 25px;
    border-radius: 4px;
    margin-top: -1px;
}
#p{
    margin-left: 80px;
    color: white;
}
h1{
    margin-left: 110px; 
    margin-top: 30px;
    font-family: 'Cookie-Regular';
    font-size: 45px;
    color: white;
}
#login{
    position: absolute;
    margin-left: 250px;
    color: white;
    margin-top: -55px;
}
#p, #login{
    font-family: 'Spartan-Regular';
    font-size: 10px;
}
#lgo{
    height: 100px;
    width: 100px;
    border-radius: 60px;
    background-color: #A65D03;
    margin-left: 625px;
    margin-top: 100px;
}
#img{
    position: absolute;
    margin-left: 25px;
    margin-top: 25px;
    height: 50px;
    width: 50px;
}
footer{
    margin-left: 568px;
    margin-top: 330px;
}
#linkSite{
    color: #A65D03; 
}
