@import url('https://fonts.googleapis.com/css?family=Cookie|Spartan&display=swap');
@font-face {
    src: url(Cookie-Regular.ttf);
    font-family: 'Cookie-Regular';    
    font-weight: normal;
}
.nav{
    padding-top: -20px;
    padding-bottom: 20px;
    background-color: #A65D03;
}
#navbarDropdown{
    margin-top: 8px;
}
#nome{
    font-family: 'Cookie-Regular';
    position: absolute;
    margin-left: 82px;
    margin-top: 1px;
    color: white;
    font-size: 40px;
}
#logo{
    width: 50px;
    height: 50px;
    position: absolute;
    margin-left: 100px;
    margin-top: 5px;
}
.form-control{
    margin-top: 12px;
    margin-left: 20px;
    box-shadow: 0 0 0 0;
    border: 0 none;
    outline: 0;
}
#btn{
    margin-top: 12px;
    color: white;
    border-color: white;
}
#btn:hover{
    background-color: #A65D03;
    color: #F0BC5E;
    border-color: #F0BC5E;
}
.form-control:focus, select:focus{
    box-shadow: 0 0 0 0;
    border: 0 none;
    outline: 0;
}
#btn:focus,select:focus {
    box-shadow: 0 0 0 0;
    outline: 0;
}
#acessorio{
    margin-left: 400px;
    margin-top: 8px;
}
.nav-link{
    color: white;
}
.nav-link:hover{
    color: white;
}
.item{
    margin-top: 8px;
}
.p{
    position: absolute;
    font-family: 'Cookie-Regular';
    font-size: 40px;
    margin-left: 360px;
    color: black;
}
#app{
  margin-left: 100px;
  margin-right: 100px;
}
img {
  max-width: 100%;
  height: auto;
}

.app-title {
  font-family: 'Cookie-Regular';
  font-size: 50px;
  margin-left: 20px;
  margin-bottom: -30px;    
  color: #A65D03;
  margin-top: 15px;
}

.animal {
  margin-left: 100px;
  height: 400px;
  width: 280px;
  float: left;
  padding: 20px;
  margin: 30px auto;
  overflow: hidden;
}

.animal h4 {
  margin: 0 0 6px 0;
}

.comprar{
    color: #A65D03;
    border-color: #A65D03;
    background-color: white;
    margin-left: 150px;
    height: 40px;
    width: 90px;
    border-radius: 5px;
    margin-bottom: 30px;
}
.comprar:hover{
    color: white;
    background-color: #A65D03;
}

.pet-photo {
  float:inherit;
  width: 100%;
  margin-bottom: inherit;  
  margin-right: 15px;
}

.pet-name {
  font-size: 20px;
  font-weight: normal;
}

.species {
  font-size: 0.9rem;
  color: #888;
  vertical-align: middle;
}
.page-footer{
  padding-top: -20px;
  padding-bottom: 70px;
  margin-top: 2300px;
  padding-left: -100px;
  background-color: #A65D03;
}
#copyright{
  position: absolute;
  margin-top: 20px;
  margin-left: 555px;  
  color: white;
}
#linkSite{
  color: #F0BC5E;
}
